@{
    ViewData["Title"] = "Home Page";
}

<p>
    <div>
        <h3>Welcome to Geometric Plotting</h3>
        <br />
        <img src="@Url.Action("GetAllTriangles","Imaging")" title="Triangle with 6 rows and 6 columns plotted within 300 pixel box." />
    </div>
</p>